@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* ****************************
    Common Buttons
    **************************** */
    .primary-btn {
        @apply bg-[#4E31AA] border-[#4E31AA] text-[#FFFFFF] text-[14px] font-semibold rounded-[4px] hover:shadow-none;
      }
      .primary-btn-cancel {
        @apply border-[#EF2F88] text-[#EF2F88] text-[14px] font-semibold rounded-[4px] hover:shadow-none bg-transparent;
      }
      .seconday-btn {
        @apply border-[#727272] text-[#727272] text-[14px]  rounded-[4px] hover:shadow-none bg-transparent;
      }
      .ternary-btn {
        @apply border-[#4E31AA] text-[#4E31AA] text-[14px]  rounded-[4px] hover:shadow-none bg-transparent;
      }
    


    /* ****************************
    website fonts
    **************************** */
   
    @font-face {
      font-family: "cairo-regular";
      src: url(../assets/fonts/Cairo-Regular.ttf)  format('truetype');
    }
   
  }

  body{
    background-color: black;
  }